<div class="sa-app__footer d-block d-md-flex">
    <!-- copyright -->Elecro Admin — eCommerce © 2023<div class="m-auto"></div>
    <div>Powered by HTML — Design by <a href="https://themeforest.net/user/kos9/portfolio">shaheer</a></div>
    <!-- copyright / end -->
</div><!-- sa-app__footer / end -->
</div><!-- sa-app__content / end -->
<!-- sa-app__toasts -->
<div class="sa-app__toasts toast-container bottom-0 end-0"></div><!-- sa-app__toasts / end -->
</div><!-- sa-app / end -->
<!-- scripts -->

<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/feather-icons/feather.min.js"></script>
<script src="vendor/simplebar/simplebar.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="vendor/highlight.js/highlight.pack.js"></script>
<script src="vendor/quill/quill.min.js"></script>
<script src="vendor/air-datepicker/js/datepicker.min.js"></script>
<script src="vendor/air-datepicker/js/i18n/datepicker.en.js"></script>
<script src="vendor/select2/js/select2.min.js"></script>
<script src="vendor/fontawesome/js/all.min.js" data-auto-replace-svg="" async=""></script>
<script src="vendor/chart.js/chart.min.js"></script>
<script src="vendor/datatables/js/jquery.dataTables.min.js"></script>
<script src="vendor/datatables/js/dataTables.bootstrap5.min.js"></script>
<script src="vendor/nouislider/nouislider.min.js"></script>
<script src="vendor/fullcalendar/main.min.js"></script>
<script src="js/stroyka.js"></script>
<script src="js/custom.js"></script>
<script src="js/calendar.js"></script>
<script src="js/demo.js"></script>
<script src="js/image-uploader.min.js"></script>

<script src="js/demo-chart-js.js"></script>
</body>

</html>